@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  margin: 10px;
}

#title {
  margin-bottom: 1rem;
}

#form, #tasks {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 20px;
}

input[type="text"], input[type="date"], select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

/*button, #github-login {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px 15px;*/
/*    margin: 15px 15px 0 0;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s;*/
/*}*/

button:hover {
  background-color: #45a049;
}

#task-list {
  list-style-type: none;
  padding: 0;
}

#task-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

#task-list li:hover {
  background-color: #f0f0f0;
}

.taskname {
  font-size: 1.5em;
}